include ../components/head/head

mixin title(data)
    h1.page-title #{data.text}

mixin button(data)
    button(class=data.class type=data.type onclick=data.onclick) #{data.text}


mixin filter(data)
    - classes = data.classes || {}
    - flags = data.flags || {}
    .block-with-filters(class=[classes.container, flags.asButtons && 'asButtons' || flags.asCheckbox && 'asCheckbox'].filter(Boolean).join(' '))
        - labels = data.labels || {}
        - text = data.text || {}
        - for(let index = 0; index < labels.length; index++)
            .m-filter__container
                input(type="checkbox" id=labels[index].value )
                label(for=labels[index].value) #{labels[index].label}
                p #{text[index].text}




doctype html
html(lang="ru")
    +head({ "title": "Прайс-лист", "description": "Прайс-лист" })
        link(rel="stylesheet" href="styles/price-page.css")
    body.price-page.content-pages
        header
        main
            +title({text: "Прайс-лист"})
            form.page-content__container
                article.page-content__container-article
                    header
                        h5 Строительные материалы
                    main-section.filters__container
                        +filter({
                            flags: {asCheckbox: true},
                            labels: [
                                {value: "opt", label: ''},
                                {value: "rozn", label: ''},
                            ],
                            text: [{text: "оптовые цены"},
                                  {text: 'розничные цены'},
                                ],
                        })
                article.page-content__container-article
                    header
                        h6 Выберите необходимые категории товаров
                    main-section.filters__container
                        +filter({
                            classes: {container: 'vertical-blocks'},
                            flags: {asCheckbox: true},
                            labels: [
                                {value: "1", label: ''},
                                {value: "2", label: ''},
                                {value: "3", label: ''},
                                {value: "4", label: ''},
                                {value: "5", label: ''},
                                {value: "6", label: ''},
                                {value: "7", label: ''},
                                {value: "8", label: ''},
                                {value: "9", label: ''},
                                {value: "10", label: ''},
                                {value: "11", label: ''},
                                {value: "12", label: ''},
                                {value: "13", label: ''},
                                {value: "14", label: ''},
                                {value: "15", label: ''},
                                {value: "16", label: ''},
                                {value: "17", label: ''},
                                {value: "18", label: ''},

                            ],
                            text: [{text: "Внутренняя отделка"},
                                {text: "Водосточные системы"},
                                {text: "Герметики, клеи"},
                                {text: "Гидроизоляция"},
                                {text: "Защитные козырьки"},
                                {text: "Звукоизоляция"},
                                {text: "Крепеж"},
                                {text: "Листовые металлы"},
                                {text: "Мансардные окна и лестницы"},
                                {text: "Мастики и праймеры"},
                                {text: "Огнебиозащита"},
                                {text: "Пены"},
                                {text: "Плоская кровля"},
                                {text: "Ручной инструмент"},
                                {text: "Скатная кровля"},
                                {text: "Утеплители"},
                                {text: "Фасады"},
                                {text: "Фундаменты"},
                            ],
                        })


                .page-content__container-buttons
                    +button({"class": "orange-button", "text": "Скачать прайс"})
                    +button({"class": "white-button", "type": "button", "text": "Выбрать все", "onclick" : "addAttributeChecked(this)"})
                    +button({"class": "white-button", "type": "reset", "text": "Очистить выбор"})
        footer
        script(src="js/components/price-page/index.js" defer)
