include ../components/head/head
include ../components/forms/filter/index

mixin title(data)
    h2.page-title #{data.text}

mixin button(data)
    button(class=data.class type=data.type onclick=data.onclick) #{data.text}

doctype html
html(lang="ru")
    +head({ "title": "Прайс-лист", "description": "Прайс-лист" })
        link(rel="stylesheet" href="styles/price-page.css")
    body.price-page.content-pages
        header
        main
            +title({text: "Прайс-лист"})
            form.page-content__container
                article.page-content__container-article
                    header
                        h5 Строительные материалы
                    main-section.filters__container
                        +filter({
                            flags: {asCheckbox: true},
                            labels: [
                                {value: "opt", label: '',text: "оптовые цены"},
                                {value: "rozn", label: '', text: 'розничные цены'},
                            ],
                        })
                article.page-content__container-article
                    header
                        h6 Выберите необходимые категории товаров
                    main-section.filters__container
                        +filter({
                            classes: {container: 'vertical-blocks'},
                            flags: {asCheckbox: true},
                            labels: [
                                {type: "checkbox", value: "1", label: '', text: "Внутренняя отделка" },
                                {type: "checkbox", value: "2", label: '', text: "Водосточные системы"},
                                {type: "checkbox", value: "3", label: '', text: "Герметики, клеи"},
                                {type: "checkbox", value: "4", label: '', text: "Гидроизоляция"},
                                {type: "checkbox", value: "5", label: '', text: "Защитные козырьки"},
                                {type: "checkbox", value: "6", label: '', text: "Звукоизоляция"},
                                {type: "checkbox", value: "7", label: '', text: "Крепеж"},
                                {type: "checkbox", value: "8", label: '', text: "Листовые металлы"},
                                {type: "checkbox", value: "9", label: '', text: "Мансардные окна и лестницы"},
                                {type: "checkbox", value: "10", label: '', text: "Мастики и праймеры"},
                                {type: "checkbox", value: "11", label: '', text: "Огнебиозащита"},
                                {type: "checkbox", value: "12", label: '', text: "Пены"},
                                {type: "checkbox", value: "13", label: '', text: "Плоская кровля"},
                                {type: "checkbox", value: "14", label: '', text: "Ручной инструмент"},
                                {type: "checkbox", value: "15", label: '', text: "Скатная кровля"},
                                {type: "checkbox", value: "16", label: '', text: "Утеплители"},
                                {type: "checkbox", value: "17", label: '', text: "Фасады"},
                                {type: "checkbox", value: "18", label: '', text: "Фундаменты"},

                            ],
                        })


                .page-content__container-buttons
                    +button({"class": "orange-button", "text": "Скачать прайс"})
                    +button({"class": "white-button", "type": "button", "text": "Выбрать все", "onclick" : "addAttributeChecked(this)"})
                    +button({"class": "white-button", "type": "reset", "text": "Очистить выбор"})
        footer
        script(src="js/components/price-page/index.js" defer)
